* {
  padding: 0;
  margin: 0;
  box-sizing= border-box; 
}

body {
  margin: 0px;
  width: 100%;
}

#backSpanContainer {
  border: 5px dashed rgb(135, 115, 224);
  z-index: -1;
  position: absolute;
  display: flex;
  width: 100%;
}
/* vertical line in background */
.backSpan {
  border-left: 1px solid #000000;
  height: 70rem;
  opacity: 0.9;
  width: 20%;
}

#header {
  border: 9px dashed rgb(206, 15, 15);
  width: 100%;
  height: 15rem;
  display: flex;
  position: relative;
  margin-top: 0rem;
  justify-content: flex-end;
}
#johnAdams {
  position: absolute;
  right: 82%;
  top: 5%;
}

#johnAdams + ul > span > li {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(36, 36, 36);
  margin-right: 5rem;
  display: inline;
}

#johnAdams + ul > span >  li > a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

#top ul li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  border: 3px dotted rgb(185, 62, 82);
  position: absolute;
  display: flex;
  top: 15rem;
  width: 100%;
  justify-content: flex-end;
}

#main > #fourBars > span {
  display: inline-block;
  width: 20rem;
  margin-right: 1rem;
  background-color: rgb(172, 202, 231);
  position: relative;
  right: 5rem;
}
/* #main > #fourBars:first-child {
  position: relative;
  right: 5rem
} */

/* hover effekt einrichten. abut how? if I can not touch the object with the curser */
#main #fourBars span #rt-img {
  width: 19.5rem;
  height: 15rem;
  display: block;
  -webkit-transition: 0.9s ease-in-out;
  /* transition: .3s ease-in-out; */
}

#main #fourBars span #ss-img {
  width: 19.5rem;
  height: 19rem;
  display: block;
  -webkit-transition: 0.9s ease-in-out;
  /* transition: .3s ease-in-out; */
}
#main #fourBars span #ov-img {
  width: 19.5rem;
  height: 19rem;
}

#main #fourBars span h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
