body {
  margin: 0px;
  width: 100%;
}

#backSpanContainer {
  border: 5px dashed rgb(135, 115, 224);
  z-index: -1;
  position: absolute;
  display: flex;
  width: 100%;
}
/* vertical line in background */
.backSpan {
  border-left: 1px solid #000000;
  height: 70rem;
  opacity: 0.9;
  width: 20%;
}

#header {
  border: 2px dashed black;
  width: 100%;
  height: 15rem;
  display: flex;
  position: absolute;
  margin-top: 0rem;
  justify-content: flex-end;
}
#header > ul > span > li {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(36, 36, 36);
  margin-right: 5rem;
  display: inline;
}
#header > ul > h2 {
font-size: 50px;
position: relative;
right: 80rem;
top: 5rem;
}
#header ul a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

#top ul li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  z-index: -1;
}

#main #threeBars {
  margin-left: 20rem;
}

#main #threeBars span {
  display: inline-block;
  width: 19.5rem !important;
  margin-top: 10rem;
  margin-right: 0.5rem;
  float: left;
  background-color: rgb(172, 202, 231);
}

/* hover effekt einrichten. abut how? if I can not touch the object with the curser */
#main #threeBars span #rt-img {
  width: 19.5rem;
  height: 15rem;
  display: block;
  -webkit-transition: 0.9s ease-in-out;
  /* transition: .3s ease-in-out; */
}

#main #threeBars span #ss-img {
  width: 19.5rem;
  height: 19rem;
  display: block;
  -webkit-transition: 0.9s ease-in-out;
  /* transition: .3s ease-in-out; */
}
#main #threeBars span #ov-img {
  width: 19.5rem;
  height: 19rem;
}

#main #threeBars span h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
