body {
  margin: 0px;
  width: 100%;
}

#backSpanContainer {
  border: 2px dashed darkred;
  z-index: -1;
  display: flex;
}
/* vertical line in background */
.backSpan {
  border-left: 1px solid #000000;
  height: 50rem;
  opacity: 0.9;
  width: 20%;

}

#top {
  margin-top: 3rem;
}

#top h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(36, 36, 36);
  margin-left: 16rem;
  display: inline;
}

#top ul li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

#top ul a {
  padding: 3rem;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

#top ul span {
  margin-left: 38rem;
}
#main {
  z-index: -1;
}

#main #threeBars {
  margin-left: 20rem;
}

#main #threeBars span {
  display: inline-block;
  width: 19.5rem !important;
  margin-top: 10rem;
  margin-right: 0.5rem;
  float: left;
  background-color: rgb(172, 202, 231);
}

/* hover effekt einrichten. abut how? if I can not touch the object with the curser */
#main #threeBars span #rt-img {
  width: 19.5rem;
  height: 15rem;
  display: block;
  -webkit-transition: 0.9s ease-in-out;
  /* transition: .3s ease-in-out; */
}

#main #threeBars span #ss-img {
  width: 19.5rem;
  height: 19rem;
  display: block;
  -webkit-transition: 0.9s ease-in-out;
  /* transition: .3s ease-in-out; */
}
#main #threeBars span #ov-img {
  width: 19.5rem;
  height: 19rem;
}

#main #threeBars span h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
